# Auto detect text files and perform LF normalization
* text=auto
*.md text diff=markdown
/.editorconfig export-ignore
/.envrc export-ignore
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore
